---
layout: defaultindex
title: "Cody402 | Home"
---

<div class="indexbg">
  <section id="aboutme">
      {% img me alt:'Portfolio Picture' class:'profile-image' %}
      <h1 class="text-shadow">Hello, I'm Cody.</h1>
      <h4 class="text-shadow">I'm a software developer with experience in web and game development.</h4>
    {% include social-mobile.html %}
  </section>
</div>
{% include nav.html %}
<div class="container-inner">
<section id="bloghome">

  <h2 class="text">Latest Post</h2>
  <hr>
  <ul class="no-list-style">
    {% for post in site.posts limit:1 %}
    <li>
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbparent">
            <a href="{{post.url}}"><img class="thumb" alt="Blog Post Thumbnail" src="{{ post.thumbnail }}" /></a>
          </div>
        </div>
        <div class="col-sm-6 text-left">
          <h3><a href="{{ post.url }}"><div class="dark-link">{{ post.title }}</div></a></h3>
          <p>{{ post.date | date_to_string }}</p>
          <p>{{ post.excerpt | truncatewords: 30}}</p>
          <a href="{{post.url}}"><div class="button light-link">Read More</div></a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
<section id="recentwork">
  <h2>Recent Work</h2>
  <hr>
  <ul class="no-list-style">
    {% for album in site.work limit:1 %}
    <li>
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbparent">
            <a href="/work.html"><img class="thumb" alt="Blog Post Thumbnail" src="{{ album.thumbnail }}" /></a>
          </div>
        </div>
        <div class="col-sm-6 text-left">
          <h3><a href="/work.html"><div class="dark-link">{{ album.title }}</div></a></h3>
          <p>{{ album.content | truncatewords: 30}}</p>
          <a href="/work.html"><div class="button light-link">Read More</div></a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</section>
</div>
