---
layout: default
title: "Cody402 | Work"
description: "Browse some of the work I have selected from my portfolio."
---
<div class="page-padding-top"></div>
<div id="togglework" class="togglebutton togglebuttonactive">Professional</div><div id="togglepersonal" class="togglebutton togglebuttoninactive">Personal</div>
<div class="work workprojectsactive animated">
  <h1>Work Projects</h1>
  <hr>
  <ul class="no-list-style">
    {% for album in site.work %}
    <li>
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbparent">
            <a href="{{album.link}}"><img class="thumb" alt="Blog Post Thumbnail" src="{{ album.thumbnail }}" /></a>
          </div>
        </div>
        <div class="col-sm-6 text-left">
          <a href="{{album.link}}"><h3><div class="dark-link">{{ album.title }}</div></h3></a>
          <p>{{ album.content }}</p>
        </div>
      </div>
    </li>
    <hr>
    {% endfor %}
  </ul>
</div>
<div class="personal personalprojectsinactive animated">
  <h1>Personal Projects</h1>
  <hr>
  <ul class="no-list-style">
    {% for album in site.personalprojects %}
    <li>
      <div class="row">
        <div class="col-sm-4">
          <div class="thumbparent">
            <a href="{{album.link}}"><img class="thumb" alt="Blog Post Thumbnail" src="{{ album.thumbnail }}" /></a>
          </div>
        </div>
        <div class="col-sm-6 text-left">
          <a href="{{album.link}}"><h3><div class="dark-link">{{ album.title }}</div></h3></a>
          <p>{{ album.content }}</p>
        </div>
      </div>
    </li>
    <hr>
    {% endfor %}
  </ul>
</div>
