<footer class="footer-desktop">
  <div class="row">
    <div class="col-sm-6">
      Cody Anderson &copy 2017 | <a href="mailto:{{site.data.general.email}}">{{site.data.general.email}}</a>
    </div>
    <div class="col-sm-6 text-right">
      <a href="/index.html">Home</a> | <a href="/blog.html">Blog</a> | <a href="/work.html">Work</a> | <a href="/contact.html">Contact</a>
    </div>
  </div>
</footer>
<footer class="footer-mobile">
      Cody Anderson &copy 2017 <br> <a href="mailto:{{site.data.general.email}}">{{site.data.general.email}}</a><br>
      <a href="/index.html">Home</a> | <a href="/blog.html">Blog</a> | <a href="/work.html">Work</a> | <a href="/contact.html">Contact</a>
</footer>


<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
