<title>{% if page.title %}{{ page.title }}{% else %}{{site.data.general.title}}{% endif %}</title>
<meta name="author" content="Cody Anderson">
<!--Open Graph Card-->
<meta prefix="og: http://ogp.me/ns#" property="og:description" content="{% if page.description %}{{ page.description}}{% else %}{{ site.data.general.description}}{% endif %}">
<meta prefix="og: http://ogp.me/ns#" property="og:image" content="{% if page.shareimageurl %}{{ page.shareimageurl }}{% else %}{{ site.data.general.shareimageurl}}{% endif %}">
<meta prefix="og: http://ogp.me/ns#" property="og:url" content="{{ page.url }}">
<meta prefix="og: http://ogp.me/ns#" property="og:title" content="{% if page.title%}{{ page.title }}{% else %}{{ site.data.general.title}}{% endif %}">
<meta prefix="og: http://ogp.me/ns#" property="og:type" content="website">


<!--Twitter Card-->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="https://twitter.com/cody402">
<meta name="twitter:title" content="{% if page.title%}{{ page.title }}{% else %}{{ site.data.general.title}}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.data.general.description}}{% endif %}">
<meta name="twitter:image" content="{% if page.shareimageurl %}{{ page.shareimageurl }}{% else %}{{ site.data.general.shareimageurl}}{% endif %}">

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="description" content="{% if page.description %}{{ page.description}}{% else %}{{site.data.general.description}}{% endif %}">
<link rel="shortcut icon" href="/assets/calogo.png">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% css animate %}
{% css main %}
{% js main %}
