<div class="nav">
  <span class="navlink"><a href="/index.html">Home</a></span>
  <span class="navlink"><a href="/blog.html">Blog</a></span>
  <span class="navlink animated bounceIn logo">{% img calogo alt:'Logo' class:'logo' %}</span>
  <span class="navlink"><a href="/work.html">Work</a></span>
  <span class="navlink"><a href="/contact.html">Contact</a></span>
</div>
<div class="nav-mobile">
  <i id="nav-hamburger" class="fa fa-bars"></i>
  <div class="nav-mobile-inner">
    <span class="navlink"><a href="/index.html">Home</a></span>
    <span class="navlink"><a href="/blog.html">Blog</a></span>
    <span class="navlink animated bounceIn logo">{% img calogo alt:'Logo' class:'logoimg' %}</span>
    <span class="navlink"><a href="/work.html">Work</a></span>
    <span class="navlink"><a href="/contact.html">Contact</a></span>
    <hr>
  </div>

</div>
