<div class="social social-fixed animated bounceInLeft">
  <a href="https://www.facebook.com/cody.m.anderson.35" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
  <a href="https://twitter.com/cody402" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
  <a href="https://www.linkedin.com/in/cody-anderson-204253110/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
  <a href="https://bitbucket.org/cody402/" target="_blank"><i class="fa fa-bitbucket" aria-hidden="true"></i></a>
  <a href="https://trello.com/codyanderson4" target="_blank"><i class="fa fa-trello" aria-hidden="true"></i></a>
</div>
